{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="row text-center">
    <div class="col-sm-5 mb-8 mb-sm-0">
        <div class="card">
            <img src="{{ product.image|mediapath }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Категория: {{ product.category }}</p>
                <p class="card-text">Цена: {{ product.price }} руб.</p>
                <a href="{% url 'catalog:home' %}" class="btn btn-primary">К списку товаров</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}